@model KDDongHo.Models.DONG_HO

@{
    ViewBag.Title = "Thêm sản phẩm";
    Layout = "~/Views/Admin_Shared/_Layout.cshtml";
}

@section styles{

}

@section subheader{
    <div class="m-subheader d-flex">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator ">Thêm sản phẩm</h3>
            </div>
        </div>
        <div class="m-portlet__nav-item ml-auto">
            <a href="@Url.Action("Index", "AdminProduct")" class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                <span>
                    <i class="la la-arrow-left"></i>
                    <span>Quay lại</span>
                </span>
            </a>

            <a href="#" id="submit_form" class="btn btn-primary m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                <span>
                    <i class="la la-save"></i>
                    <span>Lưu lại</span>
                </span>
            </a>
        </div>
    </div>
}

<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__body">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="submit" hidden id="trigger_submit" class="btn btn-default" />
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="row">
                <div class="col-lg-4 text-center">
                    <a id="add-img" class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air text-white mb-4">
                        <span>
                            <i class="la la-plus"></i>
                            <span>Thêm ảnh</span>
                        </span>
                    </a>
                    <div id="preview_img">

                    </div>

                </div>

                <div class="col-lg-8">
                    <div class="form-group m-form__group row">
                        <label for="MAUMA" class="col-2 col-form-label">Mẫu mã</label>
                        <div class="col-10">
                            @Html.TextBoxFor(model => model.MAUMA, new { @class = "form-control m-input" })
                            @Html.ValidationMessageFor(model => model.MAUMA, "", new { @class = "form-control-feedback text-danger" })
                        </div>
                    </div>

                    <div class="form-group m-form__group row">
                        <label for="KICHCO" class="col-2 col-form-label">Kích cỡ</label>
                        <div class="col-10">
                            @Html.TextBoxFor(model => model.KICHCO, new { @class = "form-control m-input" })
                            @Html.ValidationMessageFor(model => model.KICHCO, "", new { @class = "form-control-feedback text-danger" })
                        </div>
                    </div>

                    <div class="form-group m-form__group row">
                        <label for="DODAY" class="col-2 col-form-label">Độ dày</label>
                        <div class="col-10">
                            @Html.TextBoxFor(model => model.DODAY, new { @class = "form-control m-input" })
                            @Html.ValidationMessageFor(model => model.DODAY, "", new { @class = "form-control-feedback text-danger" })
                        </div>
                    </div>

                    <div class="form-group m-form__group row">
                        <label for="CHATLIEU_VO" class="col-2 col-form-label">Chất liệu vỏ</label>
                        <div class="col-10">
                            @Html.TextBoxFor(model => model.CHATLIEU_VO, new { @class = "form-control m-input" })
                            @Html.ValidationMessageFor(model => model.CHATLIEU_VO, "", new { @class = "form-control-feedback text-danger" })
                        </div>
                    </div>

                    <div class="form-group m-form__group row">
                        <label for="CHATLIEU_DAY" class="col-2 col-form-label">Chất liệu dây</label>
                        <div class="col-10">
                            @Html.TextBoxFor(model => model.CHATLIEU_DAY, new { @class = "form-control m-input" })
                            @Html.ValidationMessageFor(model => model.CHATLIEU_DAY, "", new { @class = "form-control-feedback text-danger" })
                        </div>
                    </div>

                    <div class="form-group m-form__group row">
                        <label for="CHATLIEU_KINH" class="col-2 col-form-label">Chất liệu kính</label>
                        <div class="col-10">
                            @Html.TextBoxFor(model => model.CHATLIEU_KINH, new { @class = "form-control m-input" })
                            @Html.ValidationMessageFor(model => model.CHATLIEU_KINH, "", new { @class = "form-control-feedback text-danger" })
                        </div>
                    </div>

                    <div class="form-group m-form__group row">
                        <label for="DOCHIEUNUOC" class="col-2 col-form-label">Độ chịu nước</label>
                        <div class="col-10">
                            @Html.TextBoxFor(model => model.DOCHIEUNUOC, new { @class = "form-control m-input", @type = "number" })
                            @Html.ValidationMessageFor(model => model.DOCHIEUNUOC, "", new { @class = "form-control-feedback text-danger" })
                        </div>
                    </div>

                    <div class="form-group m-form__group row">
                        <label for="BAOHANH" class="col-2 col-form-label">Bảo hành</label>
                        <div class="col-10">
                            @Html.TextBoxFor(model => model.BAOHANH, new { @class = "form-control m-input" })
                            @Html.ValidationMessageFor(model => model.BAOHANH, "", new { @class = "form-control-feedback text-danger" })
                        </div>
                    </div>

                    <div class="form-group m-form__group row">
                        @*@Html.LabelFor(model => model.ID_HANGSX, "ID_HANGSX", new { @class = "control-label col-md-2" })*@
                        <label for="ID_HANGSX" class="col-2 col-form-label">Nhãn hiệu</label>
                        <div class="col-10">
                            @Html.DropDownList("ID_HANGSX", null, new { @class = "form-control m-input" })
                            @Html.ValidationMessageFor(model => model.ID_HANGSX)
                        </div>
                    </div>

                    <div class="form-group m-form__group row">
                        @*@Html.LabelFor(model => model.ID_HANGSX, "ID_HANGSX", new { @class = "control-label col-md-2" })*@
                        <label for="ID_KIEUMAY" class="col-2 col-form-label">Kiểu máy</label>
                        <div class="col-10">
                            @Html.DropDownList("ID_KIEUMAY", null, new { @class = "form-control m-input" })
                            @Html.ValidationMessageFor(model => model.ID_KIEUMAY)
                        </div>
                    </div>

                    <div class="form-group m-form__group row">
                        <label for="DONGIA" class="col-2 col-form-label">Đơn giá</label>
                        <div class="col-10">
                            @Html.TextBoxFor(model => model.DONGIA, new { @class = "form-control m-input", @type = "number" })
                            @Html.ValidationMessageFor(model => model.DONGIA, "", new { @class = "form-control-feedback text-danger" })
                        </div>
                    </div>

                    <div class="form-group m-form__group row">
                        <label for="GIAMGIA" class="col-2 col-form-label">Giảm giá</label>
                        <div class="col-10">
                            @Html.TextBoxFor(model => model.GIAMGIA, new { @class = "form-control m-input", @type = "number" })
                            @Html.ValidationMessageFor(model => model.GIAMGIA, "", new { @class = "form-control-feedback text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div id="null_preview" hidden>
    <label class="container-fluid">
        <p class="d-flex align-items-center justify-content-center preview_image" style="border: 4px solid #efefef; min-height: 80px; width: 100%">
            Chọn hình
        </p>
        <input class=" d-none" name="Images" type="file">
    </label>
</div>

@section scripts {
    @Scripts.Render("~/Static/Admin/assets/app/js/my-script.js")
    <script>

        $(document).ready(function () {
            load_preview();
            load_widget();
            $(document).delegate('[name="Images"]', 'change', function () {
                readURL(this);
            });

            $('#add-img').click(function () { load_preview(); });
        });

        

        function readURL(input) {

            var parent = $(input).parents('label');
            if (input.files && input.files[0]) {

                var reader = new FileReader();



                reader.onload = function (e) {

                    parent.find('.preview_image').html(`<img src="${e.target.result}" class="img-fluid"/>`);

                }



                reader.readAsDataURL(input.files[0]);

            }

        }

        function load_widget() {
            $("#ID_HANGSX").select2({ placeholder: "Chọn nhãn hiệu" });
            $("#ID_KIEUMAY").select2({ placeholder: "Chọn kiểu máy" });
        }

        function load_preview() {
            var element = $('#null_preview').html();
            $('#preview_img').append(element);
        }
        
    </script>
}
